# Ciência dos Dados - 2°Semestre - Engenharia
#### Carlos Eduardo Dip

## Tema: Desenvolvimento econômico de países dentro e fora do Mercado Comun do Sul (Mercosul)

#### Hipótese:
Países que fazem parte da união aduaneira devem ter mercados em maior crescimento do que os que não estão, como sugerido na pesquisa "Os impactos do Mercosul sobre o comérico: Uma abordagem gravitacional" de Bruno Ferreira Cordeiro, da USP.  
< https://www.teses.usp.br/teses/disponiveis/12/12138/tde-06092016-144804/publico/CorrigidaBruno.pdf > Acesso em 26/8/2019 às 18h40min.

#### Mecanismo:
Espera-se que, devido ao propósito da União Aduaneira, o comércio entre países participantes seja ampliado, ou menos deixe de ser reduzido, aumentando a competitividade com produtos importados de páises externos à união, através principalmente de reduções tributárias. Isso, por sua vez impulsionaria o crescimento economico dos países envolvidos, e também os protegeria de recessões.

Os dados analisados foram retirados do banco de dados https://www.gapminder.org/data/.

# O Tratado de Kyoto (Protocolo de Kyoto)

## Resumo:
Países se comprometeram a reduzir emissão de gases. O Protocolo de Kyoto é um acordo internacional entre os países integrantes da Organização das Nações Unidas (ONU), firmado com o objetivo de se reduzir a emissão de gases causadores do efeito estufa e o consequente aquecimento global.

In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data_GDP_capita = pd.read_excel('Data/gdp.xlsx').rename({'country':'Country'},axis = 1 ).set_index('Country')
data_income = pd.read_excel('Data/income.xlsx').rename({'country':'Country'},axis = 1 ).set_index('Country')
for year in range(1800, 1930):
    if year in data_GDP_capita and year != 1800:
        del data_GDP_capita[year]
    if year in data_income:
        del data_income[year]
        
data_all = data_income.join(data_GDP_capita, how = 'left', rsuffix = "_GDP", lsuffix = '_income')

In [51]:
### Países que não estão no tratado:
Mercosul = ["Brazil",
            "Argentina",
            "Venezuela",
            "Uruguay",
            "Paraguay"]

Non_Mercosul = ["Bolivia",
                "Colombia",
                "Chile",
                "Ecuador",
                "Peru"]
all_south = Non_Mercosul+Mercosul

bool_series = [country in all_south for country in data_all.index.tolist()]
data_all = data_all.loc[bool_series]
data_all["Mercosul"] = [int(country in Mercosul) for country in data_all.index.tolist()]

## Análise exploratória inicial

#### Primeira visualização dos dados 
Aqui, constroem-se gráficos para facilitar a visualização da informação disponível, com intuito de conhecer melhor o comportamento das variáveis envolvidas, e dos dados em geral.

In [52]:
data_all

,1930_income,1931_income,1932_income,1933_income,1934_income,1935_income,1936_income,1937_income,1938_income,1939_income,...,2005_GDP,2006_GDP,2007_GDP,2008_GDP,2009_GDP,2010_GDP,2011_GDP,2012_GDP,2013_GDP,Mercosul
Country,,,,,,,,,,,,,,,,,,,,,
Argentina,7650,6920,6510,6640,6990,7110,7010,7360,7220,7330,...,9.08,8.21,8.39,6.50,0.598,8.88,8.59,1.64,3.98,1
Bolivia,2430,2460,2480,2510,2530,2560,2580,2610,2630,2660,...,4.40,4.42,4.16,5.73,2.970,3.77,4.81,4.85,6.46,0
Brazil,2000,1870,1900,2010,2130,2140,2330,2370,2410,2400,...,2.76,3.96,6.09,5.17,-0.330,7.53,2.73,1.09,2.24,1
Chile,4130,3200,2660,3210,3810,3950,4070,4540,4500,4510,...,6.36,5.83,5.20,3.04,-0.910,5.73,5.92,5.45,4.21,0
Colombia,2320,2240,2350,2440,2550,2560,2650,2650,2770,2850,...,5.31,7.03,7.22,3.83,1.910,4.20,6.83,4.36,4.37,0
Ecuador,1720,1760,1810,1850,1900,1940,1980,2030,2070,2110,...,5.22,4.51,2.24,6.36,0.997,3.19,7.87,4.81,3.92,0
Paraguay,3290,3330,3360,3400,3440,3480,3520,3560,3610,3650,...,2.29,4.68,5.26,6.16,-4.160,12.80,4.10,-1.25,13.00,1
Peru,3760,3370,3160,3430,3790,4050,4140,4090,4050,3970,...,6.17,7.28,7.81,9.27,0.377,8.30,6.45,5.85,4.61,0
Uruguay,9310,7480,6750,5740,6650,6850,6980,6910,7250,7200,...,6.12,3.98,6.50,7.18,2.430,8.88,5.67,3.92,4.20,1
Venezuela,4980,4160,4270,4160,4390,4830,4980,5490,5710,5960,...,10.20,10.30,8.80,5.31,-3.180,-1.47,4.21,5.64,0.92,1